/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    color:white;
}

nav {
    background-color:black;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.search-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

#search-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: black;
    border: 1px solid gray;
    border-top: none;
    border-radius: 0 0 4px 4px;
    z-index: 10;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: gray;
}

#results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.meal-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meal-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.meal-item h3 {
    margin: 10px 0;
    font-size: 1em;
}

#meal-details-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color:black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
    max-width: 600px;
    text-align: center;
}

#meal-details-container.hidden {
    display: none;
}

#meal-details-container img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

#meal-details-container h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

#meal-details-container p {
    margin: 5px 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: black;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
